<html>
    <head>
        <title>Complete the template</title>
    </head>
    <body>
        <h2>{{ school.name }}</h2>
        <table>
            <thead>
                <tr> <!-- tr is a table row -->
                    <th>Name</th>
                    <th>Student ID</th> <!-- th is a table heading cell -->
                    <th>Term</th>
                </tr>
            </thead>
            <tbody>
                {% for student in school.students %}
                <tr>
                    <td> <!-- td is a table cell -->
                        {{ student.name }}
                    </td>
                    <td>
                        {{ student.student_id }}
                    </td>                    
                    <td>
                        {{ student.term }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>